@font-face {
  font-family: "HelveticaNeueCyrBlack";
  src: url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.eot");
  src: url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.eot") format("embedded-opentype"), url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.woff") format("woff"), url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNeueCyrRoman";
  src: url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot");
  src: url("fonts/HelveticaNeueCyr//HelveticaNeueCyr-Roman.eot") format("embedded-opentype"), url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff") format("woff"), url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNeueCyrMedium";
  src: url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot");
  src: url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot") format("embedded-opentype"), url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff") format("woff"), url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNeueCyrBold";
  src: url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot");
  src: url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot") format("embedded-opentype"), url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff") format("woff"), url("fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("fonts/ProximaNova/ProximaNovaT-Thin.eot");
  src: url("fonts/ProximaNova/ProximaNovaT-Thin.eot") format("embedded-opentype"), url("fonts/ProximaNova/ProximaNovaT-Thin.woff") format("woff"), url("fonts/ProximaNova/ProximaNovaT-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}
body {
  width: 100%;
  overflow-x: hidden;
}
header,
footer,
section {
  display: block;
}
header {
  display: flex;
  padding-bottom: 25px;
  box-sizing: content-box;
  width: 1167px;
  margin: 0 auto;
}
header .logo {
  display: flex;
  margin-top: 25px;
}
header .logo img {
  width: 43px;
  height: 68px;
}
header .logo .name {
  margin-top: 9px;
  margin-left: 27px;
  text-transform: uppercase;
}
header .logo .name h1 {
  background: radial-gradient(circle 90px at 50%, #469bf7 0%, #4391e7 100%);
  width: 118px;
  height: 37px;
  display: table-cell;
  vertical-align: middle;
  font-family: "HelveticaNeueCyrBlack";
  color: #ffffff;
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
  text-align: center;
  letter-spacing: 3px;
}
header .logo .name h3 {
  margin-top: 4px;
  font-family: "HelveticaNeueCyrRoman";
  color: #323232;
  font-size: 10px;
  text-align: left;
}
header nav {
  width: 507px;
  margin-top: 52px;
  margin-left: 112px;
  margin-right: 116px;
}
header nav .burger {
  display: none;
  width: 40px;
}
header nav .burger .slice {
  width: 40px;
  height: 5px;
  background: linear-gradient(0deg, #4391e7 0%, #469bf7 100%);
  border-radius: 5px;
}
header nav .burger .middle {
  margin-top: 4px;
  margin-bottom: 4px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul li a {
  font-family: "HelveticaNeueCyrRoman";
  color: #323232;
  font-size: 17px;
  line-height: 18px;
  transition: ease 1s all;
}
header nav ul li a:hover {
  color: #4599f5;
}
header .start_edu {
  margin-top: 28px;
  display: flex;
  background: linear-gradient(0deg, #4391e7 0%, #469bf7 100%);
  width: 243px;
  height: 65px;
  border-radius: 35px;
  padding-left: 48px;
  padding-top: 20px;
  padding-bottom: 20px;
}
header .start_edu img {
  width: 22px;
  height: 21px;
  margin-right: 5px;
}
header .start_edu h3 {
  font-family: "HelveticaNeueCyrMedium";
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  padding-top: 3px;
  text-align: center;
}
.input-error {
  border: red 2px solid !important;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999999;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999999;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999999;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999999;
}
.main {
  width: 100%;
}
.main .start {
  background-image: url(images/sinii-fon.png);
  padding-top: 107px;
  padding-bottom: 144px;
}
.main .start .content {
  width: 1172px;
  margin: 0 auto;
  display: flex;
}
.main .start .content article {
  margin-top: 15px;
}
.main .start .content article h3 {
  font-family: HelveticaNeueCyrBlack;
  color: #ffffff;
  font-size: 34px;
  line-height: 60px;
  font-weight: 900;
  text-align: left;
}
.main .start .content article h2 {
  font-family: HelveticaNeueCyrBlack;
  color: #ffffff;
  font-size: 54px;
  font-weight: 900;
  line-height: 72px;
  text-align: center;
  background-color: #0053d3;
  width: 598px;
  height: 70px;
  margin-left: -10px;
}
.main .start .content article h4 {
  font-family: HelveticaNeueCyrBlack;
  color: #ffffff;
  font-size: 22px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
}
.main .start .content article .quick_start {
  font-family: HelveticaNeueCyrRoman;
  color: #ffffff;
  font-size: 17px;
  line-height: 27px;
  text-align: left;
  width: 453px;
  opacity: 0.8;
  margin-bottom: 40px;
  margin-top: 25px;
}
.main .start .content article .registration {
  display: table-cell;
  border-radius: 34px;
  background-color: #f2e813;
  box-shadow: 0px 5px 0px 0px #e9a502, 0px 12px 8.73px 0.27px rgba(0, 0, 0, 0.28);
  width: 282px;
  height: 72px;
  vertical-align: middle;
  transition: all 1s ease;
}
.main .start .content article .registration h4 {
  font-family: HelveticaNeueCyrMedium;
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 29.26px;
  text-align: center;
}
.main .start .content article .registration:hover {
  box-shadow: none;
}
.main .start .content article .access {
  display: flex;
}
.main .start .content article .access img {
  margin-top: 29px;
  margin-right: 15px;
  width: 13px;
  height: 16px;
}
.main .start .content article .access p {
  margin-top: 25px;
  display: inline-block;
  font-family: HelveticaNeueCyrRoman;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  width: 256px;
  opacity: 1;
}
.main .start .content .preview {
  position: relative;
  margin-left: 74px;
}
.main .start .content .preview .forward {
  position: absolute;
  left: -79px;
  top: 34px;
}
.main .quick_reg-top {
  display: flex;
  margin: 112px auto 94px auto;
  width: 809px;
}
.main .quick_reg-top .steps {
  margin-right: 134px;
  margin-top: -8px;
}
.main .quick_reg-top .steps h2 {
  font-family: HelveticaNeueCyrBlack;
  color: #323232;
  font-size: 39.96px;
  font-weight: 900;
  text-align: left;
  transform: scaleY(1.0009);
  width: 396px;
  margin-bottom: 43px;
}
.main .quick_reg-top .steps p {
  font-family: HelveticaNeueCyrRoman;
  color: #323232;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  width: 379px;
  margin-bottom: 39px;
}
.main .quick_reg-top .steps .step {
  display: table-cell;
  border-width: 1px;
  border-color: #4599f5;
  border-style: solid;
  width: 170px;
  height: 61px;
  font-family: HelveticaNeueCyrMedium;
  color: #4599f5;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  text-align: center;
  vertical-align: middle;
  border-radius: 35px;
  margin-right: 30px;
  transition: 1s ease all;
}
.main .quick_reg-top .steps .step span {
  font-family: HelveticaNeueCyrMedium;
  color: #4599f5;
  font-size: 30px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  transition: 1s ease color;
}
.main .quick_reg-top .steps .margin {
  display: table-cell;
  width: 30px;
  height: 61px;
}
.main .quick_reg-top .steps .current {
  background-color: #4599f5;
  color: #ffffff;
}
.main .quick_reg-top .steps .current span {
  color: #ffffff;
}
.main .quick_reg-top .steps .process_data {
  display: flex;
}
.main .quick_reg-top .steps .process_data .radiobutton {
  border-radius: 5px;
  border-width: 1px;
  border-color: #4599f5;
  border-style: solid;
  width: 11px;
  height: 11px;
  margin-top: 27px;
}
.main .quick_reg-top .steps .process_data .radiobutton .check {
  border-radius: 50%;
  background-color: #4599f5;
  width: 9px;
  height: 9px;
}
.main .quick_reg-top .steps .process_data p {
  font-family: HelveticaNeueCyrRoman;
  color: #323232;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  width: 241px;
  margin-top: 23px;
  margin-left: 9px;
}
.main .quick_reg-top .steps .process_data p a {
  text-decoration: underline;
  color: #4391e7;
}
.main .quick_reg-top form {
  width: 282px;
}
.main .quick_reg-top form input[type="text"],
.main .quick_reg-top form input[type="email"] {
  font-family: HelveticaNeueCyrRoman;
  font-size: 14px;
  padding-left: 37px;
  padding-right: 37px;
  border-width: 1px;
  border-color: #9e9e9e;
  border-style: solid;
  width: 282px;
  height: 60px;
  border-radius: 35px;
}
.main .quick_reg-top form input[type="text"] {
  margin-bottom: 23px;
}
.main .quick_reg-top form input[type="email"] {
  margin-bottom: 17px;
}
.main .quick_reg-top form button[type="button"] {
  border-radius: 34px;
  background-color: #f2e813;
  box-shadow: 0px 5px 0px 0px #e9a502, 0px 12px 8.73px 0.27px rgba(0, 0, 0, 0.28);
  width: 282px;
  height: 72px;
  border: none;
  font-family: HelveticaNeueCyrMedium;
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 29.26px;
  text-align: center;
  transition: all 1s ease;
}
.main .quick_reg-top form button[type="button"]:hover {
  cursor: pointer;
  box-shadow: none;
}
.main .quick_reg-top form button[type="button"]:active {
  position: relative;
  top: 2px;
}
.main .free_express {
  background-color: #ecf3fd;
  padding-top: 73px;
  padding-bottom: 73px;
}
.main .free_express h2 {
  font-family: HelveticaNeueCyrBlack;
  color: #323232;
  font-size: 39.96px;
  font-weight: 900;
  text-align: center;
  transform: scaleY(1.0009);
  width: 688px;
  margin: 0 auto;
}
.main .free_express ul {
  width: 1222px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 78px;
}
.main .free_express ul li .item {
  border-radius: 50%;
  border-width: 1px;
  border-color: #c2c8d0;
  border-style: solid;
  width: 113px;
  height: 113px;
  margin: 0 auto;
}
.main .free_express ul li .item .align {
  width: 113px;
  height: 113px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.main .free_express ul li p {
  font-family: HelveticaNeueCyrRoman;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  width: 230px;
  margin-top: 33px;
}
.main .signals .work {
  padding-bottom: 130px;
  padding-top: 120px;
  width: 1171px;
  display: flex;
  margin: 0 auto;
}
.main .signals .work .share_results {
  position: relative;
}
.main .signals .work .share_results img {
  display: block;
  position: absolute;
  top: -79px;
  left: -421px;
}
.main .signals .work .share_results p {
  display: inline-block;
  font-family: HelveticaNeueCyrRoman;
  color: #6f6f6f;
  font-size: 13px;
  text-align: left;
  margin-top: 373px;
}
.main .signals .work .get_access {
  width: 541px;
  margin-left: 304px;
  margin-top: -3px;
}
.main .signals .work .get_access h2 {
  font-family: HelveticaNeueCyrBlack;
  color: #323232;
  font-size: 39.96px;
  font-weight: 900;
  text-align: left;
  transform: scaleY(1.0009);
  width: 436px;
}
.main .signals .work .get_access p {
  font-family: HelveticaNeueCyrRoman;
  color: #323232;
  font-size: 17px;
  line-height: 30px;
  text-align: left;
  width: 542px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.main .signals .work .registration {
  display: inline-block;
  border-radius: 34px;
  background-color: #f2e813;
  box-shadow: 0px 5px 0px 0px #e9a502, 0px 12px 8.73px 0.27px rgba(0, 0, 0, 0.28);
  width: 282px;
  height: 72px;
  transition: all 1s ease;
}
.main .signals .work .registration h4 {
  font-family: HelveticaNeueCyrMedium;
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 72px;
  text-align: center;
}
.main .signals .work .registration:hover {
  box-shadow: none;
}
.main .signals .work .access_link {
  font-family: HelveticaNeueCyrRoman;
  color: #323232;
  font-size: 14px;
  line-height: 29.26px;
  text-align: left;
  border-bottom: 1px solid rgba(88, 89, 91, 0.22);
  margin-left: 50px;
}
.main .last_articles {
  background-color: #ecf3fd;
  padding-bottom: 103px;
  padding-top: 74px;
}
.main .last_articles h2 {
  font-family: HelveticaNeueCyrBlack;
  color: #323232;
  font-size: 39.96px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  transform: scaleY(1.0009);
  /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}
.main .last_articles .articles {
  display: flex;
  width: 1169px;
  justify-content: space-between;
  margin: 60px auto 0 auto;
}
.main .last_articles .articles .articles_item {
  background-color: #ffffff;
  padding-bottom: 44px;
  width: 370px;
  height: 504px;
  border-radius: 5px;
}
.main .last_articles .articles .articles_item .article_preview {
  width: 370px;
  height: 275px;
}
.main .last_articles .articles .articles_item .article_info {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.main .last_articles .articles .articles_item .article_info .clock {
  width: 19px;
  height: 30px;
}
.main .last_articles .articles .articles_item .article_info .eye {
  width: 20px;
  height: 13px;
  margin-top: 9px;
  margin-left: 14px;
}
.main .last_articles .articles .articles_item .article_info span {
  font-family: HelveticaNeueCyrRoman;
  color: #6f6f6f;
  font-size: 12px;
  text-align: left;
  display: block;
  margin-top: 9px;
  margin-left: 7px;
}
.main .last_articles .articles .articles_item h3 {
  width: 305px;
  margin: 0 auto;
  margin-bottom: 33px;
  font-family: HelveticaNeueCyrBold;
  color: #323232;
  font-size: 19px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: center;
}
.main .last_articles .articles .articles_item a {
  display: block;
  margin: 0 auto;
  border-radius: 35px;
  background-color: #f2e813;
  box-shadow: 0px 5px 0px 0px #e9a502, 0px 12px 8.73px 0.27px rgba(0, 0, 0, 0.28);
  width: 198px;
  height: 51px;
  text-align: center;
  transition: 1s ease all;
}
.main .last_articles .articles .articles_item a h5 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: HelveticaNeueCyrMedium;
  color: #323232;
  font-size: 13.87px;
  font-weight: 500;
  transform: scaleY(1.0088);
  width: 198px;
  height: 51px;
}
.main .last_articles .articles .articles_item a:hover {
  box-shadow: none;
}
.main .course {
  padding-top: 102px;
  padding-bottom: 189px;
}
.main .course h2 {
  font-family: HelveticaNeueCyrBlack;
  color: #323232;
  font-size: 39.96px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  text-align: center;
  transform: scaleY(1.0009);
  margin-bottom: 74px;
}
.main .course .course_container {
  display: flex;
  justify-content: center;
}
.main .course .course_container .screen {
  background-image: url(images/screen.png);
  background-size: cover;
  width: 867px;
  height: 577px;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 227, 163, 0.6);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 227, 163, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 227, 163, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 227, 163, 0.6);
    box-shadow: 0 0 0 0 rgba(0, 227, 163, 0.6);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(0, 227, 163, 0);
    box-shadow: 0 0 0 10px rgba(0, 227, 163, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 227, 163, 0);
    box-shadow: 0 0 0 0 rgba(0, 227, 163, 0);
  }
}
.main .course .course_container .screen .plus {
  position: relative;
  border-radius: 50%;
  background-color: #00e3a3;
  width: 26px;
  height: 26px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  animation: pulse 2s infinite;
}
.main .course .course_container .screen .express {
  left: 247px;
  top: 54px;
  animation-delay: 0s;
}
.main .course .course_container .screen .homework {
  top: 297px;
  left: 348px;
  animation-delay: 0.6s;
}
.main .course .course_container .screen .chat {
  top: 372px;
  left: 222px;
  animation-delay: 1.2s;
}
.main .course .course_container .screen .program {
  top: 94px;
  left: 515px;
  animation-delay: 0.3s;
}
.main .course .course_container .screen .sertificate {
  top: 366px;
  left: 557px;
  animation-delay: 0.9s;
}
.main .course .course_container .description {
  padding-top: 64px;
  padding-left: 91px;
  background-image: url(images/window.png);
  background-size: cover;
  width: 427px;
  height: 255px;
  margin-top: 126px;
  margin-left: -27px;
  transition: 1s ease opacity;
}
.main .course .course_container .description h4 {
  font-family: HelveticaNeueCyrBold;
  color: #323232;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.main .course .course_container .description p {
  width: 270px;
  font-family: HelveticaNeueCyrMedium;
  color: #323232;
  font-size: 15px;
  text-align: left;
  line-height: 1.5em;
}
.main .follow_us {
  background-image: url(images/sinii-fon-bot.jpg);
  padding-top: 58px;
  padding-bottom: 54px;
  position: relative;
}
.main .follow_us .coin1 {
  width: 265px;
  height: 265px;
  position: absolute;
  top: -120px;
  left: 30%;
}
.main .follow_us .coin2 {
  width: 156px;
  height: 156px;
  filter: blur(5px);
  position: absolute;
  bottom: -70px;
  left: 11%;
}
.main .follow_us .coin3 {
  width: 520px;
  height: 520px;
  position: absolute;
  bottom: -335px;
  right: 1%;
  filter: blur(5px);
}
.main .follow_us .main_field {
  display: flex;
  width: 1239px;
  margin: 0 auto;
}
.main .follow_us .main_field .plan {
  position: relative;
}
.main .follow_us .main_field .plan .range {
  position: relative;
  z-index: 1;
}
.main .follow_us .main_field .plan .blot {
  position: absolute;
  top: 25px;
  left: 89px;
}
.main .follow_us .main_field .right_now {
  text-align: center;
  width: 420px;
  margin-left: 80px;
  margin-right: 90px;
  margin-top: 45px;
}
.main .follow_us .main_field .right_now h2 {
  font-family: HelveticaNeueCyrBlack;
  color: #ffffff;
  font-size: 39.96px;
  font-weight: 900;
  text-align: center;
  transform: scaleY(1.0009);
  display: inline-block;
}
.main .follow_us .main_field .right_now .blue_back {
  background-color: #0053d3;
  width: 325px;
  height: 49px;
  font-family: HelveticaNeueCyrBlack;
  color: #ffffff;
  font-size: 39.96px;
  font-weight: 900;
  line-height: 49px;
  text-align: center;
  transform: scaleY(1.0009);
  margin-bottom: 19px;
}
.main .follow_us .main_field .right_now p {
  font-family: HelveticaNeueCyrRoman;
  color: #ffffff;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  width: 420px;
  margin: 0 auto;
  opacity: 0.5;
}
.main .follow_us .main_field .sign_up {
  text-align: center;
}
.main .follow_us .main_field .sign_up .registration {
  display: block;
  border-radius: 34px;
  background-color: #f2e813;
  box-shadow: 0px 5px 0px 0px #e9a502, 0px 12px 8.73px 0.27px rgba(0, 0, 0, 0.28);
  width: 282px;
  height: 72px;
  transition: all 1s ease;
  margin-top: 74px;
  margin-bottom: 28px;
}
.main .follow_us .main_field .sign_up .registration h4 {
  font-family: HelveticaNeueCyrMedium;
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 72px;
  text-align: center;
}
.main .follow_us .main_field .sign_up .sign_in {
  font-family: HelveticaNeueCyrRoman;
  color: #ffffff;
  font-size: 15px;
  line-height: 29.26px;
  text-align: left;
  opacity: 0.7;
  border-bottom: 1px solid #fff;
}
.main .bonus {
  position: relative;
  padding-top: 228px;
  padding-bottom: 90px;
  display: flex;
  width: 1180px;
  margin: 0 auto;
}
.main .bonus .bonus_text h2 {
  width: 529px;
  font-family: HelveticaNeueCyrBlack;
  color: #323232;
  font-size: 39.96px;
  font-weight: 900;
  text-align: left;
  transform: scaleY(1.0009);
}
.main .bonus .bonus_text p {
  font-family: HelveticaNeueCyrRoman;
  color: #323232;
  font-size: 17px;
  line-height: 30px;
  text-align: left;
  width: 415px;
  margin: 50px 0;
}
.main .bonus .bonus_text button {
  border-radius: 34px;
  background-color: #f2e813;
  box-shadow: 0px 5px 0px 0px #e9a502, 0px 12px 8.73px 0.27px rgba(0, 0, 0, 0.28);
  width: 282px;
  height: 72px;
  border: none;
  transition: all 1s ease;
  font-family: HelveticaNeueCyrMedium;
  color: #323232;
  font-size: 16px;
  font-weight: 500;
}
.main .bonus .bonus_text button:hover {
  box-shadow: none;
  cursor: pointer;
}
.main .bonus img {
  margin-top: -72px;
  margin-left: -71px;
}
.main .review {
  background-color: #ecf3fd;
  padding-top: 90px;
  padding-bottom: 131px;
}
.main .review h2 {
  font-family: HelveticaNeueCyrBlack;
  color: #323232;
  font-size: 39.96px;
  transform: scaleY(1.0009);
  text-align: center;
  margin-bottom: 75px;
}
.main .review .slider {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 374px;
}
.main .review .block {
  position: absolute;
  left: 50%;
  width: 631px;
  height: 374px;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 40.42px 2.58px rgba(0, 0, 0, 0.07);
  transition: 1s ease all;
}
.main .review .block .photo {
  position: relative;
  width: 230px;
  height: 374px;
}
.main .review .block .photo .logo {
  position: absolute;
  width: 33px;
  height: 53px;
  top: 306px;
  left: 21px;
}
.main .review .block .photo .face {
  width: 230px;
  height: 374px;
}
.main .review .block article {
  width: 401px;
  margin-left: 40px;
  margin-top: 50px;
}
.main .review .block article p {
  width: 324px;
  font-family: HelveticaNeueCyrRoman;
  font-size: 16px;
  line-height: 27px;
  font-weight: 600;
}
.main .review .block article .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
}
.main .review .block article .row .name {
  font-family: HelveticaNeueCyrBold;
  color: #6799f4;
  font-size: 18px;
}
.main .review .block article .row .info {
  font-family: HelveticaNeueCyrRoman;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
}
.main .review .block article .row .soc {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #d7d7d7;
  display: block;
  text-align: center;
  margin-top: 9px;
}
.main .review .block article .row .soc i {
  color: white;
  line-height: 28px;
}
.main .review .block article .row .first {
  margin-left: 117px;
}
.main .review .block article .row .elem {
  margin-left: 4px;
}
.main .review .left_item-hide {
  left: 0;
  transform: translateX(-135%);
}
.main .review .right_item-hide {
  left: 100%;
  transform: translateX(35%);
}
.main .review .left_item {
  opacity: 0.5;
  transform: translateX(-1055px);
}
.main .review .center_item {
  transform: translateX(-50%);
}
.main .review .right_item {
  opacity: 0.5;
  transform: translateX(425px);
}
.main .review .pick {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
}
.main .review .pick .arrow {
  position: relative;
}
.main .review .pick .arrow div {
  background-color: rgba(50, 50, 50, 0.2);
  height: 10px;
  width: 2px;
  transform: rotate(45deg);
}
.main .review .pick .arrow .bottom {
  transform: rotate(135deg);
  position: absolute;
  top: 7px;
}
.main .review .pick .arrow:hover {
  cursor: pointer;
}
.main .review .pick #left {
  margin-right: 7px;
  margin-top: -6.5px;
}
.main .review .pick #right {
  margin-bottom: -6.5px;
  margin-left: 7px;
  transform: rotate(180deg);
}
.main .review .pick .round_small {
  border-radius: 50%;
  background-color: rgba(50, 50, 50, 0.2);
  width: 12px;
  height: 12px;
  border: none;
}
.main .review .pick .round_medium {
  border-radius: 50%;
  background-color: rgba(50, 50, 50, 0.2);
  width: 16px;
  height: 16px;
  border: none;
}
.main .review .pick .round_medium-first {
  margin-left: 19px;
  margin-right: 18px;
  color: #0053d3;
}
.main .review .pick .round_medium-last {
  margin-left: 18px;
  margin-right: 19px;
}
.main .review .pick button {
  transition: 1s ease all;
}
.main .review .pick button:hover {
  cursor: pointer;
}
.main .review .pick .active {
  background-color: #679af3;
  box-shadow: 0 0 10px 2px #679af3;
}
.main .quick_reg-bottom {
  display: flex;
  margin: 108px auto 100px auto;
  width: 809px;
}
.main .quick_reg-bottom .steps {
  margin-right: 134px;
  margin-top: -8px;
}
.main .quick_reg-bottom .steps h2 {
  font-family: HelveticaNeueCyrBlack;
  color: #323232;
  font-size: 39.96px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  transform: scaleY(1.0009);
  width: 396px;
  margin-bottom: 43px;
}
.main .quick_reg-bottom .steps p {
  font-family: HelveticaNeueCyrRoman;
  color: #323232;
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  line-height: 25px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  width: 379px;
  margin-bottom: 39px;
}
.main .quick_reg-bottom .steps .step {
  display: table-cell;
  border-width: 1px;
  border-color: #4599f5;
  border-style: solid;
  width: 170px;
  height: 61px;
  font-family: HelveticaNeueCyrMedium;
  color: #4599f5;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  text-align: center;
  vertical-align: middle;
  border-radius: 35px;
  margin-right: 30px;
  transition: 1s ease all;
}
.main .quick_reg-bottom .steps .step span {
  font-family: HelveticaNeueCyrMedium;
  color: #4599f5;
  font-size: 30px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
}
.main .quick_reg-bottom .steps .margin {
  display: table-cell;
  width: 30px;
  height: 61px;
}
.main .quick_reg-bottom .steps .current {
  background-color: #4599f5;
  color: #ffffff;
}
.main .quick_reg-bottom .steps .current span {
  color: #ffffff;
}
.main .quick_reg-bottom .steps .process_data {
  display: flex;
}
.main .quick_reg-bottom .steps .process_data .radiobutton {
  border-radius: 5px;
  border-width: 1px;
  border-color: #4599f5;
  border-style: solid;
  width: 11px;
  height: 11px;
  margin-top: 27px;
}
.main .quick_reg-bottom .steps .process_data .radiobutton .check {
  border-radius: 50%;
  background-color: #4599f5;
  width: 9px;
  height: 9px;
}
.main .quick_reg-bottom .steps .process_data p {
  font-family: HelveticaNeueCyrRoman;
  color: #323232;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  width: 241px;
  margin-top: 23px;
  margin-left: 9px;
}
.main .quick_reg-bottom .steps .process_data p a {
  text-decoration: underline;
  color: #4391e7;
}
.main .quick_reg-bottom form {
  width: 282px;
}
.main .quick_reg-bottom form input[type="text"],
.main .quick_reg-bottom form input[type="email"] {
  font-family: HelveticaNeueCyrRoman;
  font-size: 14px;
  padding-left: 37px;
  padding-right: 37px;
  border-width: 1px;
  border-color: #9e9e9e;
  border-style: solid;
  width: 282px;
  height: 60px;
  border-radius: 35px;
}
.main .quick_reg-bottom form input[type="text"] {
  margin-bottom: 23px;
}
.main .quick_reg-bottom form input[type="email"] {
  margin-bottom: 17px;
}
.main .quick_reg-bottom form button[type="button"] {
  border-radius: 34px;
  background-color: #f2e813;
  box-shadow: 0px 5px 0px 0px #e9a502, 0px 12px 8.73px 0.27px rgba(0, 0, 0, 0.28);
  width: 282px;
  height: 72px;
  border: none;
  font-family: HelveticaNeueCyrMedium;
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 29.26px;
  text-align: center;
  transition: all 1s ease;
}
.main .quick_reg-bottom form button[type="button"]:hover {
  box-shadow: none;
  cursor: pointer;
}
.main .quick_reg-bottom form button[type="button"]:active {
  position: relative;
  top: 2px;
}
footer {
  background-image: url(images/bgfooter.png);
  height: 132px;
}
footer .footer_container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}
footer .footer_container .copy {
  font-family: ProximaNova;
  color: #ffffff;
  font-size: 16px;
  line-height: 29.26px;
  text-align: left;
  margin-right: 15px;
  margin-top: 60px;
}
footer .footer_container .explanation {
  font-family: HelveticaNeueCyrMedium;
  color: #ffffff;
  font-size: 15px;
  line-height: 43px;
  font-weight: 500;
  text-align: center;
  background-color: #0053d3;
  width: 175px;
  height: 43px;
  margin-top: 53px;
}
footer .footer_container ul {
  display: flex;
  justify-content: space-between;
  width: 507px;
  margin-left: 114px;
  margin-right: 100px;
  margin-top: 62px;
}
footer .footer_container ul li a {
  text-decoration: none;
  font-family: HelveticaNeueCyrRoman;
  color: #ffffff;
  font-size: 17px;
}
footer .footer_container h6 {
  width: 150px;
  font-family: HelveticaNeueCyrRoman;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  opacity: 0.5;
  margin-top: 55px;
}
footer .footer_container h6 span {
  border-bottom: 1px solid #fff;
  line-height: 29.26px;
}
@media screen and (max-width: 500px) {
  header {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  header .logo {
    order: 0;
    margin-left: 15px;
  }
  header nav {
    order: 1;
    margin: 0;
    width: auto;
  }
  header nav .burger {
    display: inline-block;
    position: relative;
    z-index: 2;
    margin-top: 40px;
    margin-right: 15px;
  }
  header nav .burger-active .top {
    position: absolute;
    left: 0;
    top: 5px;
    transform: rotate(45deg);
  }
  header nav .burger-active .middle {
    display: none;
  }
  header nav .burger-active .bottom {
    position: absolute;
    left: 0;
    top: 5px;
    transform: rotate(-45deg);
  }
  header nav ul {
    display: none;
  }
  header nav .nav-active {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding-top: 85px;
    padding-bottom: 30px;
    height: 211px;
    width: 50%;
    background-color: #a8a8a8;
  }
  header nav .nav-active li {
    background-color: #f2e813;
    text-align: center;
    width: 100%;
    border: 1px solid #cec503;
  }
  header .start_edu {
    order: 2;
    margin-left: auto;
    margin-right: auto;
  }
  .main .start {
    width: 100%;
  }
  .main .start .content {
    width: 95%;
  }
  .main .start .content article {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .main .start .content article h3 {
    font-size: 26px;
  }
  .main .start .content article h2 {
    height: 60px;
    line-height: 60px;
    font-size: 34px;
    width: 100%;
  }
  .main .start .content article h4 {
    font-size: 16px;
  }
  .main .start .content .preview {
    display: none;
  }
  .main .quick_reg-top,
  .main .quick_reg-bottom {
    flex-direction: column;
    width: 95%;
  }
  .main .quick_reg-top .steps,
  .main .quick_reg-bottom .steps {
    margin: 0 auto;
  }
  .main .quick_reg-top .steps h2,
  .main .quick_reg-bottom .steps h2 {
    margin-bottom: 0;
    width: 100%;
  }
  .main .quick_reg-top .steps .step,
  .main .quick_reg-bottom .steps .step {
    display: none;
  }
  .main .quick_reg-top .steps .margin,
  .main .quick_reg-bottom .steps .margin {
    display: none;
  }
  .main .quick_reg-top .steps p,
  .main .quick_reg-bottom .steps p {
    margin-bottom: 0;
  }
  .main .quick_reg-top .client_data,
  .main .quick_reg-bottom .client_data {
    margin: 5% auto 0 auto;
  }
  .main .free_express {
    width: 100%;
  }
  .main .free_express h2 {
    width: 100%;
  }
  .main .free_express ul {
    width: 100%;
    flex-wrap: wrap;
  }
  .main .free_express ul li {
    margin-bottom: 5%;
    margin-right: 2%;
    margin-left: 2%;
    width: 45%;
  }
  .main .free_express ul li p {
    width: 100%;
  }
  .main .free_express ul li:last-child {
    margin-bottom: 0;
  }
  .main .signals .work {
    width: 100%;
  }
  .main .signals .work .share_results {
    display: none;
  }
  .main .signals .work .get_access {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
  .main .signals .work .get_access h2 {
    width: 100%;
    font-size: 36px;
  }
  .main .signals .work .get_access p {
    width: 100%;
    font-size: 16px;
    line-height: 1.5em;
  }
  .main .signals .work .get_access .access_link {
    display: block;
    width: 187px;
    margin: 0 auto;
    line-height: 100%;
  }
  .main .signals .work .get_access .registration {
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
  }
  .main .last_articles h2 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .main .last_articles .articles {
    width: 100%;
    flex-direction: column;
  }
  .main .last_articles .articles .articles_item {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
  }
  .main .last_articles .articles .articles_item .article_preview {
    width: 100%;
  }
  .main .last_articles .articles .articles_item:last-child {
    margin-bottom: 0;
  }
  .main .follow_us .coin1,
  .main .follow_us .coin2,
  .main .follow_us .coin3,
  .main .follow_us .plan {
    display: none;
  }
  .main .follow_us .main_field {
    width: 100%;
    flex-direction: column;
  }
  .main .follow_us .main_field .right_now {
    width: 100%;
    margin: 0 auto;
  }
  .main .follow_us .main_field .right_now p {
    width: 95%;
  }
  .main .follow_us .main_field .sign_up .registration {
    margin: 3% auto;
  }
  .main .bonus {
    width: 100%;
    padding-top: 90px;
  }
  .main .bonus img {
    display: none;
  }
  .main .bonus .bonus_text {
    width: 95%;
    margin: 0 auto;
  }
  .main .bonus .bonus_text h2 {
    width: 100%;
    font-size: 33px;
  }
  .main .bonus .bonus_text p {
    width: 100%;
    font-size: 16px;
    line-height: 1.5em;
    margin: 5% 0;
  }
  .main .bonus .bonus_text button {
    margin: 0 auto;
    display: block;
  }
  .main .review .slider .block {
    width: 100%;
  }
  .main .review .slider .block article {
    width: 100%;
  }
  footer {
    width: 100%;
    height: auto;
  }
  footer .footer_container {
    width: 100%;
    flex-wrap: wrap;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  footer .footer_container ul {
    display: none;
  }
  footer .footer_container h6 {
    margin: 5% auto 0 auto;
    text-align: center;
  }
  footer .footer_container .copy {
    margin-left: auto;
    margin-right: 15px;
    margin-top: 7px;
  }
  footer .footer_container .explanation {
    margin-top: 0;
    margin-right: auto;
  }
}
