@font-face {
  font-family: "Century Gothic";
  src: url("CenturyGothic/CenturyGothic.eot");
  src: local('Century Gothic'), local('CenturyGothic'), url("CenturyGothic/CenturyGothic.eot") format("embedded-opentype"), url("CenturyGothic/CenturyGothic.woff") format("woff"), url("CenturyGothic/CenturyGothic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Century Gothic';
  src: url('CenturyGothic/CenturyGothic-Bold.eot');
  src: local('Century Gothic Bold'), local('CenturyGothic-Bold'), url('CenturyGothic/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'), url('CenturyGothic/CenturyGothic-Bold.woff') format('woff'), url('CenturyGothic/CenturyGothic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Century Gothic';
}
body a {
  text-decoration: none !important;
}
body .content {
  width: 1444px;
  margin: 0 auto;
}
body header {
  background-color: #ffffff;
  box-shadow: 0px 1px 32px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 34px;
  padding-top: 41px;
}
body header img {
  margin-top: 8px;
}
body header nav ul {
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  padding-top: 13px;
}
body header nav ul li a {
  color: #000000;
  transition: ease 0.3s color;
}
body header nav ul li :hover {
  color: #ffc254;
}
body header .contact {
  text-align: end;
  color: #010000;
  font-size: 18px;
  font-weight: 700;
  padding-right: 45px;
}
body main {
  padding-top: 133px;
  padding-bottom: 147px;
}
body main h2 {
  color: #000000;
  font-size: 36px;
  font-weight: bold;
}
body main .map {
  position: relative;
  margin-top: 95px;
}
body main .map .contact_main {
  position: absolute;
  left: 20px;
  top: 111px;
  background-color: #ffffff;
  box-shadow: 0px 7px 12px 4px rgba(0, 0, 0, 0.23);
  padding: 31px 85px 53px 24px;
  width: auto;
  display: inline-block;
}
body main .map .contact_main h5 {
  margin-top: 26px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}
body main .map .contact_main h6 {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  margin-top: -5px;
}
body main .map .address {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 1px 32px 0px rgba(0, 0, 0, 0.1);
  padding: 16px 32px 16px 29px;
  top: 105px;
  left: 441px;
}
body main .map .address h6 {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
}
body main .map .address .corner {
  background-image: url(images/corner.png);
  position: absolute;
  background-size: cover;
  width: 35px;
  height: 35px;
  bottom: -10px;
}
body main form {
  margin-top: 97px;
  padding-left: 9px;
}
body main form input[type="text"],
body main form input[type="email"] {
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  border-bottom: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(-180deg, rgba(255, 180, 0, 0.231373) 0%, rgba(255, 216, 122, 0.231373) 0%, rgba(255, 180, 0, 0.231373) 0%, rgba(255, 180, 0, 0.231373) 0%, rgba(255, 180, 0, 0.231373) 5%, #ffb400 87%, #ffb400 99%);
  -webkit-border-image: -webkit-linear-gradient(-180deg, rgba(255, 180, 0, 0.231373) 0%, rgba(255, 216, 122, 0.231373) 0%, rgba(255, 180, 0, 0.231373) 0%, rgba(255, 180, 0, 0.231373) 0%, rgba(255, 180, 0, 0.231373) 5%, #ffb400 87%, #ffb400 99%);
  border-image: linear-gradient(270deg, rgba(255, 180, 0, 0.231373) 0%, rgba(255, 216, 122, 0.231373) 0%, rgba(255, 180, 0, 0.231373) 0%, rgba(255, 180, 0, 0.231373) 0%, rgba(255, 180, 0, 0.231373) 5%, #ffb400 87%, #ffb400 99%);
  border-image-slice: 1;
  margin-bottom: 25px;
  line-height: 30px;
  width: 298px;
  font-size: 16px;
  font-weight: 400;
}
body main form textarea {
  resize: none;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.76);
  box-shadow: 0px 7px 14.88px 1.12px rgba(0, 0, 0, 0.23);
  width: 293px;
  height: 222px;
  border: none;
  padding: 24px 26px;
  margin-bottom: 50px;
}
body main form input[type="submit"] {
  border-radius: 8px;
  background-color: #cc9f26;
  width: 293px;
  height: 58px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
body footer {
  background-color: #cc9f26;
  padding-top: 42px;
  padding-bottom: 10px;
}
body footer ul {
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  padding-top: 6px;
}
body footer ul li a {
  color: #ffffff;
}
body footer .contact {
  text-align: end;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
body footer .menu {
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}
body footer .made {
  text-align: end;
}
body footer .foot {
  color: rgba(251, 251, 251, 0.74);
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
}
